* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
  }
  
  html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0d6efd;
    width: 100%;
  }
  
  .container-fluid {
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 9px -4px #332d2d;
    border-radius: 5px;
  }